body {
  background: radial-gradient(#d9d6d6, rgb(246, 245, 245), #5e5e5e);
}

.card {
  width: 30rem;
}
.btn-card{
  border: 1px solid;
  border-color: black;
  border-radius: 0px;
  margin-top: 3px;
}
.btn-card:hover{
  background-color: #060000;
  color:#ffffff !important;
  border-color: #d9d6d6;
  border: 1px solid;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}

.card-body{
    padding: 3rem 0 !important;
}

.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid .row{
    padding-top: 6rem;
}

.image-card {
  width: 100%;
}
