@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* ************************************************NAVBAR*********************************************** */
html{
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

body{
  
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:  bold;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 3px solid var(#150185);
}

.navbar-nav > li > a {
  margin-right: 12px;
}

/* ************************************************ Typed Text *********************************************** */

.typed-text{
	color: #5f0066;
  border: #000000;
  border-radius: 60;
	font-family: "poppin-bold", sans-serif;
	font-size: 1.3rem;
	line-height: 100px;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(117, 117, 117, 0.2);
}

@media(max-width: 768px){
  .typed-text{
    font-size: 0.75rem !important;
  }
  .main-info h1{
    font-size: 1.1rem !important;
  }
}

/* ************************************************ BUTTON MAIN OFFER *********************************************** */

  .btn-main-offer {
    text-decoration: none;
    text-transform: uppercase;
    outline: 2px solid #fff;
    border: 1px solid; 
    border-color: #ffffff;
    border-radius: 0px;
    padding: 10px 12px 12px 12px;
    color:#fff;
    margin: 2rem;
    transform: color 3s;
  }

  .btn-main-offer:hover {
    /* color:#ffffff !important;
    text-decoration: none;
    transition: .2s ease-in-out;
  */
  background-color: #5f0066;

} 
  
  .btn-main-offer::before {
   
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 30%;
    background-color: #fff;
    color:#5f0066;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
  }

  .btn-main-offer:hover::before {
    width: 150%;
  } 
  
  a:active {
    color:#ffffff !important;
  }
  
  a:hover {
    color:#0f0501 !important;
  }
  
  a:focus {
    color:#000000 !important;
  }