@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* ************************************************NAVBAR*********************************************** */
.img-logo{
  max-height: 60px;
  max-width: 180;
  margin-left: 30px;
}

.logo{
  width: 260px;
}

/* ************************************************NAV LINKS*********************************************** */

nav a.nav-link{
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}


.App {
  text-align: center;
}

#NavItem{
  margin-right: 80px;
  margin-left: auto;
}

body{
  background-color: #26002e;
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 3px solid var(#150185);
}

.navbar-nav > li > a {
  margin-right: 12px;
}

/* ************************************************HEADER *********************************************** */

.header-wraper {
  position: relative;
  background: url('img/1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1{
  text-transform: uppercase;
  color: #ffffff;
}